form {
    width: 500px;
    margin: auto;
    background-color: rgb(34, 30, 30);
    padding: 20px;
    color: White;
    font-family: monospace;
}

h1 {
    font-family: monospace;
    color: rgb(43, 41, 38);
}